.first-section{
    background: #1F2937;
    padding: 10px 200px
}
.header{
    display: flex;
    align-items: center;
}
.header-logo{
    flex:1;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
nav{
    display: flex;
    gap: 40px;
}
.header-link{
    color: #f9faf8;
    text-decoration: none;
}
.intro{
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
    
}
.intro-text{
    flex: 0 1 auto;
    
}
.awesome-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin: 30px auto;
}
.sign-up{
    background: #3882f6;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
   
}
.intro img{
    background: hsl(60, 20%, 80%);
    flex: 0 1 auto;
    height: 400px;
    width: 600px;
}
.second-section{
    display: flex;
    flex-direction: column;
}
.executive-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 36px;
}
.info-of-the-executives{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.executive-image img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid rgb(65, 65, 231);
}
.executive-image p{
    font-size: 15px;
    font-weight: 200;
    color: rgb(27, 25, 25);
    text-align: center;
}
